<div id="<%= dom_id manufacturer %>">
  <p>
  <strong><h2><%= manufacturer.name %></h2></strong>
      </p>

  <p>
    <strong>Logo:</strong>
    <%= link_to manufacturer.logo.filename, manufacturer.logo if manufacturer.logo.attached? %>
  </p>

  <p>
    <strong>Local:</strong>
    <%= manufacturer.local %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= manufacturer.description %>
  </p>
  <strong>Strains:</strong></br>
  <% manufacturer.strains.each do |strain| %>
    <p>
      <%= strain.name %> | <%= link_to "View Strain", strain %>
    </p>
  <% end %>

</div>
