<div id="<%= dom_id strain %>">
  <p>
    <strong><h2><%= strain.name %></h2></strong>
  </p>
  <div class="grid">
  <div>
    <%= image_tag strain.photo %>
  </div>
  <div>
  <p>
  <%= image_tag 'man.png', class: 'str-icon' %>

  <%= link_to   strain.manufacturer.name, manufacturer_path(strain.manufacturer) %>
  </p>

  <p>
    <%= image_tag 'gen.png', class: 'str-icon' %>

    <%= strain.genotype %>
  </p>

  <p>
  <%= image_tag 'thc.png', class: 'str-icon' %>
    <%= strain.thc_level %>
  </p>
  
  <p>
    <%= image_tag 'cbd.png', class: 'str-icon' %>

    <%= strain.cbd_level %>
  </p>

  <p>
    <%= image_tag 'period.png', class: 'str-icon' %>

    <%= strain.flovering_period %>
  </p>

  <p>
    <%= image_tag 'terpenes.png', class: 'str-icon' %>

    <%= strain.terpenes %>
  </p>

  <p>
    <%= image_tag 'aroma.png', class: 'str-icon' %>

    <%= strain.aroma %>
  </p>
  </div>
  </div>
  <p>
    <%= strain.description %>
  </p>
</div>
