<p style="color: green"><%= notice %></p>

<h1>Strains</h1>

<div id="strains">
  <% @strains.each do |strain| %>
    <p>
    <strong>Name:</strong>
    <%= strain.name %>
  </p>

  <p>
    <%= image_tag strain.photo.variant(resize_to_limit: [300, 300]).processed %>
  </p>
  <p>
  <strong>Manufacturer:</strong>
  <%= strain.manufacturer.name %>
  </p>
    <p>
      <%= link_to "Show this strain", strain %>
    </p>
  <% end %>
</div>

<%= link_to "New strain", new_strain_path %>
