<!DOCTYPE html>
<html data-theme="<%= cookies[:theme] %>">
  <head>
    <title>Strains</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if cookies[:theme] == "light" %>
      <%= link_to "go dark", root_path(theme: "dark") %>
    <% else %>
      <%= link_to "go light", root_path(theme: "light") %>
    <% end %>
    <%= render 'shared/header' %>
    <%= breadcrumbs separator: " &rsaquo; " %>
    <%= yield %>
  </body>
</html>
