<!DOCTYPE html>
<html>
  <head>
    <title>Strains</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="header">
    <ul>
      <% unless current_page?(root_path) %>
        <li><strong><%= link_to "Home", root_path %></strong></li>
      <% else %>
        <h1>
          <span style="color: #ffaa00;">li</span>
          <span style="color: green;">gr</span>
          <span style="color: red;">us</span>
        </h1>
      <% end %>
    </ul>
    <ul>
      <li><%= link_to "Статті", articles_path, class: "link-li" %></li>
      <li><%= link_to "Сорти", strains_path, class: "link-gr" %></li>
      <li><%= link_to "Бути корисним", home_beuseful_path, class: "link-us" %></li>
    </ul>
  </header>
    <%= yield %>
  </body>
</html>
